.profile{
    padding: .7vw;
}
p{
    margin:0;
}
.btn-form{
    display: inline;
}
.card{
    width:27rem;
}

@media screen and (max-width:750px) {
    .vw-100{
        width:unset !important;
    }
}